html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
	background-color: #66ccff;
	font-family: arial, sans-serif;
}

.head {
	height: 150px;
	width: 75%;
	border: 3px solid black;
	border-radius: 25px;
	margin: 10px auto;
	padding: 1px;
	background-color: white;
	text-align: center;
}

.head a, a:visited {
	color: teal;
	text-decoration: none;
	font-size: 50px;
}

#logo {
	height: 50px;
	width: 50px;
}

.refresh-btn {
	width: 100px;
	border: 1px solid black;
	border-radius: 10px;
	color: blue;
	outline: none;
}

.refresh-btn:active {
	background-color: darkgray;
}

.feed {
	height: 800px;
	width: 75%;
	border: 3px solid black;
	border-radius: 25px;
	margin: 10px auto;
	padding: 10px;
	background-color: white;
	overflow: scroll;
}

.tweet {
	height: 100px;
	width: 900px;
	border: 5px solid teal;
	border-radius: 5px;
	margin: 7px auto;
	padding: 25px;

}

.user {
	font-weight: bold;
}

.user:hover {
	color: blue;
}

.time-stamp {
	font-style: italic;
	font-size: 9px;
	float: right;
	padding-top: 40px;
}